<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить фильм к режиссеру</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить фильм к режиссеру</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/directors/addFilm}">
        <div class="mt-3 row g-2">
            <div class="mb-3">
                <label for="filmId" class="form-label">ID фильма</label>
                <select class="form-select" name="film" id="filmId">
                    <option value="">Выберите фильм из списка</option>
                    <option th:each="film : ${films}"
                            th:value="${film.getId()}" th:text="${film.getFilmTitle()}"></option>
                </select>
                <!--                <input name="filmId" type="number" class="form-control" id="filmId">-->
            </div>

            <div class="mb-3">
                <label for="directorId" class="form-label">ID режиссера</label>
                <select class="form-select" name="director" id="directorId">
                    <option value="">Выберите режиссера из списка</option>
                    <option th:each="director : ${directors}"
                            th:value="${director.getId()}" th:text="${director.getDirectorsFio()}"></option>
                </select>
                <!--                <input name="directorId" type="number" class="form-control" id="directorId">-->
            </div>
        </div>
        <div class="mt-3 row g-2">
            <!--            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>-->
            <button type="submit" class="btn btn-primary" id="addBtn" disabled>Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>

<script>
    const filmSelect = document.getElementById("filmId");
    const directorSelect = document.getElementById("directorId");
    const addBtn = document.getElementById("addBtn");

    function checkInputs() {
        if (filmSelect.value && directorSelect.value) {
            addBtn.disabled = false;
        } else {
            addBtn.disabled = true;
        }
    }

    filmSelect.addEventListener("change", checkInputs);
    directorSelect.addEventListener("change", checkInputs);
</script>

