h1 {
    color: red !important;
}

span:hover {
    color: aqua;
}

.yellow-text {
    color: yellow;
}

.red-text {
    color: red;
}

.green-text {
    color: #008000FF;
}

#sub-style {
    color: darkorange;
}